.button:is(.ghosted) {
  --button-hover-background-color-mix: transparent;
  --button-hover-background-color-opacity: 10%;
  --button-active-background-color-mix: transparent;
  --button-active-background-color-opacity: 20%;
  --button-focus-outline-offset: -2px;
  --button-color: var(--color-accent);
  --button-background-color-opacity: 0%;
}
